* {
  margin: 0;
  font-family: "Crimson Text", serif;
}
.overall {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}

/* header and nav style */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
  font-size: 30px;
}
.title {
  font-weight: 800;
  font-size: 60px;
}

span {
  color: #3498db;
}
.btn-primary {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  height: 64px;
  padding: 19px 35px;
  border-radius: 6px;
  border: 0;
  background-color: #3498db;
}
/* banner styles */
.banner {
  margin: 0 200px;
  display: flex;
  align-items: center;
}
.banner-title {
  font-weight: 650;
  font-size: 85px;
}
.sub-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
}
.description {
  color: #979a9a;
  font-size: 18px;
  margin-bottom: 30px;
}
/* <main> section */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* About Section styles */
.about {
  background-color: #fff8f3;
  border-radius: 15px;
  padding: 130px 150px;
  text-align: center;
}
.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}
.section-description {
  color: #979a9a;
  font-size: 18px;
  margin-bottom: 30px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about .info {
  font-size: 20px;
  color: #757575;
}
.info-description {
  font-weight: 650;
  font-size: 19px;
  color: #474747;
}
.info-title {
  margin-bottom: 10px;
}

/* What I do styles */
section {
  margin-top: 118px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  background: #fff8f3;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  padding: 30px;
}
.skill-title {
  font-weight: 650;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 18px;
}
.skill-description {
  color: #757575;
}
/* Resume Related Style */
.resume-content {
  display: flex;
  gap: 24px;
}
.resume .cse {
  color: #474747;
  font-weight: 650;
  font-size: 24px;
  margin-bottom: 10px;
}
.resume .education {
  color: #808080;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
.resume-item {
  margin-top: 30px;
  margin-bottom: 30px;
}
.resume-btn {
  margin-top: 30px;
  text-align: center;
}
/* Contact Us Style */
.contact {
  display: flex;
  gap: 118px;
  background: #fff8f3;
  padding: 130px 200px;
}
.contact .section-title {
  text-align: left;
}

.contact input,
textarea {
  margin-bottom: 20px;
  border: 0;
  width: 100%;
  padding: 18px 30px;
}
.contact a {
  text-decoration: none;
}
footer {
  text-align: center;
}
